* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
:root {
  --cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%);
}
body {
  background: radial-gradient(
    circle,
    rgba(31, 55, 86, 1) 0%,
    rgba(20, 21, 57, 1) 35%
  );
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  color: white;
  position: relative;
  .container {
    width: 100%;
    max-width: 1440px;
    margin: 0px auto;
    position: relative;
    height: 100vh;
    hr {
      opacity: 0;
    }
    .dashboard {
      border: 1px solid white;
      padding: 5px;
      width: 40%;
      margin: 60px auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 10px;
      span {
        border-radius: 10px;
        font-weight: bold;
        font-size: 30px;
        &.word {
          padding: 40px;
          background-color: white;
          color: rgba(31, 55, 86, 1);
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        &.score {
          padding: 10px;
          width: 5px;
          white-space: wrap;
        }
      }
    }
    .choices {
      background-color: red;
      max-width: 600px;
      width: 60vw;
      margin: 0px auto;
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(4, 25%);
      div {
        display: grid;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 200px;
        background-color: rgb(210, 206, 206);
        border-radius: 50%;
        border: 20px solid;
        justify-self: center;
        justify-items: center;
        justify-content: center;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;

        svg {
          z-index: 1;
          path {
            transition: fill 0.3s;
          }
        }
        &.rock {
          border-color: #f44336;
          box-shadow: inset 5px 5px 0 0 grey, 5px 5px 0 0 hsl(4, 90%, 40%);
          grid-column-start: 2;
          grid-column-end: 4;
          grid-row-start: 2;
        }
        &.paper {
          border-color: #2196f3;
          grid-column-start: 1;
          grid-column-end: 3;
          grid-row-start: 1;
          box-shadow: inset 5px 5px 0 0 grey, 5px 5px 0 0 hsl(207, 90%, 35%);
        }
        &.scissors {
          border-color: #ffc107;
          grid-column-start: 3;
          grid-column-end: 5;
          grid-row-start: 1;
          box-shadow: inset 5px 5px 0 0 grey, 5px 5px 0 0 hsl(45, 100%, 35%);
        }
        &:hover {
          cursor: pointer;
          svg {
            path {
              fill: white;
            }
          }
        }
        &.away{
          animation-name: fadeAway;
          
        }
      }
    }
    button.rules {
      color: white;
      border: 2px solid white;
      border-radius: 10px;
      background: transparent;
      padding: 10px 30px;
      font-size: larger;
      position: relative;
      left: 90%;
      top: 2%;
      transform: translateX(-50%);
      cursor: pointer;
      transition: background 0.3s;
      &:hover {
        background-color: white;
        color: rgba(31, 55, 86, 1);
      }
    }
  }
  .rulesdiv {
    width: 400px;
    height: 400px;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
  }
  .blackscreen {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    top: 0px;
    left: 0px;
  }
}
@keyframes fadeAway {
  100% {
    display: none;
    opacity: 0px;
  }
}
