* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: bold;
}

:root {
  --cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%);
}

body {
  background: radial-gradient(circle, #1f3756 0%, #141539 35%);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  color: white;
  height: 100vh;
  position: relative;
}

body > .container {
  width: 100%;
  max-width: 1440px;
  margin: 0px auto;
  position: relative;
  height: 100vh;
}

body > .container hr {
  opacity: 0;
}

body > .container .dashboard {
  border: 1px solid white;
  padding: 5px;
  width: 40%;
  margin: 60px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
}

body > .container .dashboard span {
  border-radius: 10px;
  font-weight: bold;
  font-size: 30px;
}

body > .container .dashboard span.word {
  padding: 40px;
  background-color: white;
  color: #1f3756;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body > .container .dashboard span.title {
  padding: 10px;
  text-transform: uppercase;
  width: 5px;
  font-size: 40px;
  line-height: 0.8;
  white-space: wrap;
}

body > .container .pc-turn {
  margin: auto;
  width: 100%;
  text-align: center;
  line-height: 2;
  font-size: 30px;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

body > .container .pc-turn.visible {
  opacity: 1;
}

body > .container .choices {
  max-width: 600px;
  width: 60vw;
  margin: 0px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -ms-grid-columns: (25%)[4];
      grid-template-columns: repeat(4, 25%);
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

body > .container .choices div {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 200px;
  background-color: #d2cece;
  border-radius: 50%;
  border: 20px solid;
  -ms-grid-column-align: center;
      justify-self: center;
  justify-items: center;
  justify-content: center;
}

body > .container .choices div svg {
  z-index: 1;
}

body > .container .choices div svg path {
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
}

body > .container .choices div.rock {
  border-color: #f44336;
  -webkit-box-shadow: inset 5px 5px 0 0 grey, 5px 5px 0 0 #c2160a;
          box-shadow: inset 5px 5px 0 0 grey, 5px 5px 0 0 #c2160a;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
  -ms-grid-row: 2;
      grid-row-start: 2;
}

body > .container .choices div.paper {
  border-color: #2196f3;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -webkit-box-shadow: inset 5px 5px 0 0 grey, 5px 5px 0 0 #0961aa;
          box-shadow: inset 5px 5px 0 0 grey, 5px 5px 0 0 #0961aa;
}

body > .container .choices div.scissors {
  border-color: #ffc107;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 5;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -webkit-box-shadow: inset 5px 5px 0 0 grey, 5px 5px 0 0 #b38600;
          box-shadow: inset 5px 5px 0 0 grey, 5px 5px 0 0 #b38600;
}

body > .container .choices div:hover {
  cursor: pointer;
}

body > .container .choices div:hover svg path {
  fill: white;
}

body > .container .choices.away {
  -webkit-animation-name: fadeAway;
          animation-name: fadeAway;
}

body > .container .choices.results {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  width: 1000px;
  margin: auto;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

body > .container .choices.results div {
  width: 200px;
  height: 200px;
}

body > .container .choices .playercontainer,
body > .container .choices .computer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body > .container .choices .playercontainer p,
body > .container .choices .computer p {
  line-height: 2;
  white-space: nowrap;
  margin-bottom: 10px;
  font-size: 30px;
}

body > .container .choices .tryagain {
  padding: 20px;
}

body > .container .choices .tryagain span {
  white-space: nowrap;
  text-align: center;
  display: block;
  font-size: 30px;
  line-height: 3;
}

body > .container .choices .tryagain button {
  display: block;
  margin: auto;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  background: transparent;
  padding: 10px 30px;
  font-size: larger;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

body > .container .choices .tryagain button:hover {
  background-color: white;
  color: #1f3756;
}

body > .container button.rules {
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  background: transparent;
  padding: 10px 30px;
  font-size: larger;
  position: relative;
  left: 90%;
  top: 2%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

body > .container button.rules:hover {
  background-color: white;
  color: #1f3756;
}

body .rulesdiv {
  width: 400px;
  height: 400px;
  background-color: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 100;
}

body .blackscreen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  top: 0px;
  left: 0px;
}

body .overview {
  display: none;
}

@-webkit-keyframes fadeAway {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeAway {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media only screen and (max-width: 768px) {
  body .container .dashboard {
    width: 60%;
  }
  body .container .choices {
    width: 80vw;
  }
  body .container .choices.results {
    width: 80vw;
  }
}

@media only screen and (max-width: 425px) {
  body {
    overflow-y: visible;
  }
  body .rulesdiv {
    width: 80%;
    height: auto;
    background-color: #eee;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 100;
  }
  body .rulesdiv img {
    width: 90%;
    padding: 30px 0px;
  }
  body .container {
    width: 100%;
  }
  body .container button.rules {
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    background: transparent;
    padding: 10px 30px;
    width: 70%;
    height: 50px;
    font-size: larger;
    position: absolute;
    left: 50%;
    top: 92vh;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    cursor: pointer;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
  }
  body .container button.rules:hover {
    background-color: white;
    color: #1f3756;
  }
  body .container .dashboard {
    margin: 30px auto;
    width: 90%;
  }
  body .container .choices {
    width: 90vw;
  }
  body .container .choices div {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 150px;
    height: 150px;
    background-color: #d2cece;
    border-radius: 50%;
    border: 15px solid;
    -ms-grid-column-align: center;
        justify-self: center;
    justify-items: center;
    justify-content: center;
  }
  body .container .choices.results {
    width: 90%;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  body .container .choices.results .tryagain {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  body .container .choices.results div {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 150px;
    height: 150px;
    background-color: #d2cece;
    border-radius: 50%;
    -ms-grid-column-align: center;
        justify-self: center;
    justify-items: center;
    justify-content: center;
  }
}

@media only screen and (max-height: 780px) {
  body .container .dashboard {
    margin: 10px auto;
  }
  body .container button.rules {
    position: absolute;
    top: 90%;
  }
}

@media only screen and (max-width: 320px) {
  body .container .dashboard {
    border: 1px solid white;
    padding: 5px;
    width: 95%;
    margin: 30px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 10px;
  }
  body .container .dashboard span {
    border-radius: 10px;
    font-weight: bold;
    font-size: 30px;
  }
  body .container .dashboard span.word {
    padding: 20px;
    background-color: white;
    color: #1f3756;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .container .dashboard span.title {
    padding: 10px;
    text-transform: uppercase;
    width: 5px;
    font-size: 30px;
    line-height: 0.8;
    white-space: wrap;
  }
  body .container .dashboard .choices {
    width: 99%;
  }
  body .container .dashboard .choices div {
    border: 10px solid;
    width: 120px;
    height: 120px;
  }
}
/*# sourceMappingURL=index.css.map */