* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%);
}

body {
  background: radial-gradient(circle, #1f3756 0%, #141539 35%);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  color: white;
}

body .container {
  width: 100%;
  max-width: 1440px;
  margin: 0px auto;
  position: relative;
  max-height: 1000px;
}

body .container .dashboard {
  border: 1px solid white;
  padding: 5px;
  width: 40%;
  margin: 5vh auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
}

body .container .dashboard span {
  border-radius: 10px;
  font-weight: bold;
  font-size: 30px;
}

body .container .dashboard span.word {
  padding: 40px;
  background-color: white;
  color: #1f3756;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .dashboard span.score {
  padding: 10px;
  width: 5px;
  white-space: wrap;
}

body .container .choices {
  max-width: 600px;
  width: 60vw;
  margin: 0px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -ms-grid-columns: (25%)[4];
      grid-template-columns: repeat(4, 25%);
}

body .container .choices div {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 200px;
  background-color: #d2cece;
  border-radius: 50%;
  border: 20px solid;
  -ms-grid-column-align: center;
      justify-self: center;
  justify-items: center;
  justify-content: center;
}

body .container .choices div svg path {
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
}

body .container .choices div.rock {
  border-color: #f44336;
  -webkit-box-shadow: inset 5px 5px 0 0 grey, 5px 5px 0 0 #c2160a;
          box-shadow: inset 5px 5px 0 0 grey, 5px 5px 0 0 #c2160a;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
  -ms-grid-row: 2;
      grid-row-start: 2;
}

body .container .choices div.paper {
  border-color: #2196f3;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -webkit-box-shadow: inset 5px 5px 0 0 grey, 5px 5px 0 0 #0961aa;
          box-shadow: inset 5px 5px 0 0 grey, 5px 5px 0 0 #0961aa;
}

body .container .choices div.scissors {
  border-color: #ffc107;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 5;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -webkit-box-shadow: inset 5px 5px 0 0 grey, 5px 5px 0 0 #b38600;
          box-shadow: inset 5px 5px 0 0 grey, 5px 5px 0 0 #b38600;
}

body .container .choices div:hover {
  cursor: pointer;
}

body .container .choices div:hover svg path {
  fill: white;
}

body .container button.rules {
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  background: transparent;
  padding: 10px 30px;
  font-size: larger;
  position: absolute;
  right: 2vh;
  bottom: 2vh;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

body .container button.rules:hover {
  background-color: white;
  color: #1f3756;
}

body .rulesdiv {
  width: 400px;
  height: 400px;
  background-color: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/*# sourceMappingURL=index.css.map */